<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<div class="container">
  <div class="contact__wrapper shadow-lg mt-n9">
    <div class="row no-gutters">
      <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
        <h3 class="color--white mb-5">Item Details</h3>

      <textarea class="form-control" [innerText]="luaContent || ''" rows="10" readonly></textarea>

        <figure class="figure position-absolute m-0 opacity-06 z-index-100" style="bottom:0; right: 10px">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="444px"
            height="626px">
            <defs>
              <linearGradient id="PSgrad_1" x1="0%" x2="81.915%" y1="57.358%" y2="0%">
                <stop offset="0%" stop-color="rgb(255,255,255)" stop-opacity="1"></stop>
                <stop offset="100%" stop-color="rgb(0,54,207)" stop-opacity="0"></stop>
              </linearGradient>
            </defs>
            <path fill-rule="evenodd" opacity="0.302" fill="rgb(72, 155, 248)"
              d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
            <path fill="url(#PSgrad_1)"
              d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
          </svg>
        </figure>
      </div>

      <div class="col-lg-7 form__wrapper p-5 order-lg-1">
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="form form-validate" novalidate>
          <div class="row">
            <div class="col-sm-12 mb-3">
              <div class="form-group">
                <label class="required-field" for="fileName">Nombre del fichero</label>
                <input type="text" class="form-control" id="fileName" formControlName="fileName"
                  placeholder="Nombre del fichero">
                <small *ngIf="itemForm.get('fileName')?.invalid && itemForm.get('fileName')?.touched" class="text-danger">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label class="required-field" for="itemName">Nombre del item</label>
                <input type="text" class="form-control" id="itemName" formControlName="itemName"
                  placeholder="Nombre del item">
                <small *ngIf="itemForm.get('itemName')?.invalid && itemForm.get('itemName')?.touched" class="text-danger">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="isForMission">¿Es para misión?</label>
                <select class="form-control" id="isForMission" formControlName="isForMission">
                  <option value="true">Sí</option>
                  <option value="false">No</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12 mb-3">
              <div class="form-group">
                <label class="required-field" for="itemDescription">Descripción del item</label>
                <textarea class="form-control" id="itemDescription" formControlName="itemDescription" rows="4"
                  placeholder="Descripción del item"></textarea>
                <small *ngIf="itemForm.get('itemDescription')?.invalid && itemForm.get('itemDescription')?.touched"
                  class="text-danger">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>
            
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="model">Modelo</label>
                <input type="text" class="form-control" id="model" formControlName="model" placeholder="Modelo">
              </div>
            </div>
            
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="skin">Skin</label>
                <input type="text" class="form-control" id="skin" formControlName="skin" placeholder="Skin">
              </div>
            </div>
            
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="model">Altura</label>
                <input type="text" class="form-control" id="height" formControlName="height" placeholder="Altura">
              </div>
            </div>
            
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="model">Anchura</label>
                <input type="text" class="form-control" id="width" formControlName="width" placeholder="Anchura">
              </div>
            </div>
            
            <div class="col-sm-4 mb-3">
              <div class="form-group">
                <label for="redAppendix">Apéndice rojo</label>
                <input type="text" class="form-control" id="redAppendix" formControlName="redAppendix"
                  placeholder="Apéndice rojo">
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-group">
                <label for="greenAppendix">Apéndice verde</label>
                <input type="text" class="form-control" id="greenAppendix" formControlName="greenAppendix"
                  placeholder="Apéndice verde">
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-group">
                <label for="blueAppendix">Apéndice azul</label>
                <input type="text" class="form-control" id="blueAppendix" formControlName="blueAppendix"
                  placeholder="Apéndice azul">
              </div>
            </div>

            <div class="col-sm-12 mb-3">
              <button type="submit" [disabled]="itemForm.invalid" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>