<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<div class="container">
  <div class="contact__wrapper shadow-lg mt-n9">
    <div class="row no-gutters">
      <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
        <h3 class="color--white mb-5">Output</h3>

      <textarea class="form-control" [innerText]="luaContent || ''" rows="10" readonly></textarea>
      </div>

      <div class="col-lg-7 form__wrapper p-5 order-lg-1">
        <h3 class="color--white mb-5">Item Form</h3>
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="form form-validate" novalidate>
          <div class="row">
            <div class="col-sm-12 mb-3">
              <div class="form-group">
                <label class="required-field" for="fileName">Nombre del fichero</label>
                <input type="text" class="form-control" id="fileName" formControlName="fileName"
                  placeholder="Nombre del fichero">
                <small *ngIf="itemForm.get('fileName')?.invalid && itemForm.get('fileName')?.touched" class="text-danger">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label class="required-field" for="itemName">Nombre del item</label>
                <input type="text" class="form-control" id="itemName" formControlName="itemName"
                  placeholder="Nombre del item">
                <small *ngIf="itemForm.get('itemName')?.invalid && itemForm.get('itemName')?.touched" class="text-danger">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="isForMission">¿Es para misión?</label>
                <select class="form-control" id="isForMission" formControlName="isForMission">
                  <option value="true">Sí</option>
                  <option value="false">No</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12 mb-3">
              <div class="form-group">
                <label class="required-field" for="itemDescription">Descripción del item</label>
                <textarea class="form-control" id="itemDescription" formControlName="itemDescription" rows="4"
                  placeholder="Descripción del item"></textarea>
                <small *ngIf="itemForm.get('itemDescription')?.invalid && itemForm.get('itemDescription')?.touched"
                  class="text-danger">
                  Este campo es obligatorio.
                </small>
              </div>
            </div>
            
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="model">Modelo</label>
                <input type="text" class="form-control" id="model" formControlName="model" placeholder="Modelo">
              </div>
            </div>
            
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="skin">Skin</label>
                <input type="text" class="form-control" id="skin" formControlName="skin" placeholder="Skin">
              </div>
            </div>
            
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="model">Altura</label>
                <input type="text" class="form-control" id="height" formControlName="height" placeholder="Altura">
              </div>
            </div>
            
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="model">Anchura</label>
                <input type="text" class="form-control" id="width" formControlName="width" placeholder="Anchura">
              </div>
            </div>
            
            <div class="col-sm-4 mb-3">
              <div class="form-group">
                <label for="redAppendix">Apéndice rojo</label>
                <input type="text" class="form-control" id="redAppendix" formControlName="redAppendix"
                  placeholder="Apéndice rojo">
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-group">
                <label for="greenAppendix">Apéndice verde</label>
                <input type="text" class="form-control" id="greenAppendix" formControlName="greenAppendix"
                  placeholder="Apéndice verde">
              </div>
            </div>

            <div class="col-sm-4 mb-3">
              <div class="form-group">
                <label for="blueAppendix">Apéndice azul</label>
                <input type="text" class="form-control" id="blueAppendix" formControlName="blueAppendix"
                  placeholder="Apéndice azul">
              </div>
            </div>

            <div class="col-sm-12 mb-3">
              <button type="submit" [disabled]="itemForm.invalid" class="btn btn-primary">Descargar fichero</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>